body {
    font-family: sans-serif;
    font-size: 18px;
    color: #000;
    margin: 0px;
    padding: 0px;
    width: 100vw;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(to right, #f4c159, #fa59c2);
    height: 6vh;
    overflow: hidden;
    color: #fff;
}

.contact-container {
    display: flex;
    align-items: center;
}

.icon {
    padding: 8px 14px;

}

.icon-container {
    display: flex;
    align-items: center;
}

hr {
    height: 10vh;
    overflow: none;
    color: #fff;

}

.button-register {
    font-family: sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    border: 2px solid #fff;
    border-radius: 50px;
    background-color: transparent;
    padding: 8px 14px;
    outline: none;

}

.image-download {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

.list-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
}

.nav-item {
    font-family: sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: 600;
    list-style-type: none;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 8vh;

}

.heading {
    font-family: 'Roboto';
    font-size: 16px;
    color: #000;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.content-container {
    background-image: url("https://i.ibb.co/bXMcQ5n/two-developers.webp");
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.banner-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 800px;
    border-left: 5px solid transparent;
    padding: 8px 26px;
    border-image: linear-gradient(0deg, #f4c159, #fa59c2);
    border-image-slice: 1;


}

.cretive-heading {
    font-family: sans-serif;
    font-size: 26px;
    color: #fff;
    font-weight: 600;
    text-shadow: 0px -20px #6d6c6c;
    margin: 8px;

}

.creavite-head {
    font-family: sans-serif;
    font-size: 26px;
    color: #ffffff;
    font-weight: 600;
    margin: 8px;
}

.creative-description {
    font-family: sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px;


}

.buton-read {
    font-family: sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    background-image: linear-gradient(to right, #f4c159, #fa59c2);
    outline: none;
    padding: 8px 24px;
    border-radius: 50px;

}

.button-reqest {
    font-family: sans-serif;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    border-radius: 50px;
    border: 2px solid #fff;
    outline: none;
    padding: 8px 24px;
    background-color: transparent;
    box-shadow: 0px 25px 4px 0px transparent;
    text-shadow: 140px 0px #bbbbbce8;

}

.card-container {
    background-image: linear-gradient(to right, #f4c159, #fa59c2);
    height: 20vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.lunch {
    padding: 12px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 18px;
    color: #fff;
    margin-right: 16px;
}

.lunch-heading {
    font-family: sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: 600;
}

.lunch-description {
    font-family: sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;

}

.container-cord {
    width: 280px;
}

.about-heading {
    font-family: sans-serif;
    font-size: 24px;
    color: #000000;
    font-weight: 600;
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(to right, #f4c159, #fa59c2);
    border-image-slice: 1;
    width:130px;
   align-self: flex-start;
   margin-left: 8%;

    
}

.heading-expersience{
    font-family: Roboto;
    font-size: 22px;
    color: #000;
    font-weight: 600;
}

.expereces-description{
    font-family: sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: 500;


    
}

.about-container{
    width:94%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px 3%;
    /* background-color: #000; */
    height:500px;
    

    
}

.experence-container{
    width: 90%;

    
}

.image-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
}

.man{
    width: 200px;
    height: 390px;
}

.service-container{
    background-color:#fff; 
    
    height: 500px;
    padding: 30px;
    
}

.server-container{
    background-color: #fff;
   width: 100%;
   padding:12px ;
   display: flex;
   justify-content: center;
   align-items: center;
}

.bussness-imag{
    width: 390px;
    height: 200px;
    margin: 8px;
    border-radius: 8px;
}
